body {
  background-color: #ffffbf;
  color: #2d3323;
}

/* Estilos para el contenedor de usuarios y productos */
.container {
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--verde-claro);
  background-color: rgb(255, 255, 255);
  transition: box-shadow 0.3s ease;
  border: 2px solid #ccc; 
}

/* Estilos para la lista de usuarios */
.item-cont{

  border: solid;
  border-radius: 10px;
 height: 30%;
  padding: 20px 20px 20px;
  margin-right: 20px;
    margin-left: 20px;
    box-shadow: 5px 5px 10px #888888;
}

/* Estilos para los botones */
.listButton {
  background-color: #0061a9;
  color: #ffffbf;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #1b5583;
}

/* Estilos para los títulos */
h2 {
  color: #536895;
}
.listados{
    
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  
}
.crearB{
    background-color: #0061a9;
    color: #ffffbf;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}